@charset "utf-8";

$desktop: 1280px; // 14px : 17.5;
$tablet: 1024px;  // 14px : 22.4;
$mobile: 640px;   // 14px : 28;

@mixin desktop {
    @media screen and (max-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: #{$mobile}) {
        @content;
    }
}

@function pv($value) {
    @return $value / 1280 * 100+vw;
}

@function tv($value) {
    @return $value / 1024 * 100+vw;
}

@function mv($value) {
    @return $value / 640 * 100+vw;
}